$card_width: 800px;

html {
    font-family: Helvetica;
    display: inline-block;
    text-align: center;
    height: 100%;
    background: rgb(251, 251, 251);
    background: radial-gradient(ellipse, rgba(251, 251, 251, 1) 0%, rgba(161, 161, 161, 1) 100%);
}
h1 { 
    font-size: 1.4em;
    color: #444;
    margin: 4px auto 4px;
}
h2,
h3 {
    text-align: center;
    color: #444;
    margin: 8px 0 8px 0;
}
.c-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
span {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    color: #888;
}
span.r {
    margin: 5px auto;
    text-align: left;
    padding-left: 3px;
    font-weight: 700;
    left: 50%;
    width: 50%;
}
span.l {
    text-align: right;
    padding-right: 3px;
    width: 50%;
}
#loader-image {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}
#content {
    padding: 0;
    width: 100%;
    min-width: 500px;
    justify-content: center;
    align-items: center;
    display: flex;
    .c_cont {
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        background-color: #fff;
        width: $card_width;
        min-width: 350px;
        -webkit-animation-name: fadeIn;
        animation-name: fadeIn;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
    .card {
        justify-content: center;
        align-items: center;

        background-color: #fff;
        box-shadow: 1px 1px 6px 1px rgba(140, 140, 140, 0.5);
        margin: 15px 5px 15px 5px;
        padding: 5px 0 5px 0;
        border-radius: 5px;

        -webkit-transition: height 0.5s linear;
        -moz-transition: height 0.5s linear;
        -ms-transition: height 0.5s linear;
        -o-transition: height 0.5s linear;
        transition: height 0.5s linear;
        div {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 3px 3px;
        }
        .block {
            display: block;
        }
        .hidden {
            display: none;
        }
    }
}
.hidden {
    display: none;
}
.desc {
    margin: 6px;
    color: #999;
    font-size: 12px;
    a {
        text-decoration: none;
    }
}
.status {
    color: #0a2dca;
    font-weight: 700;
    margin: 5px;
}

.lcd_panel {
    position: relative;
    div {
        position: absolute;
        display: inline-block;
    }
}

.lcd_border {
    display: inline-block;
    background: #000;
    padding: 10px 10px 20px 10px;
    border-radius: 5px;
}

.panel_row{
    min-width: 200px;
    min-height: 50px;
}

$bg_button_off: #34495e;
$bg_button_on: #1abc9c;
$bg_button_submit: #1abcee;

.decr,
.incr {
    position: relative;
    width: 25px;
    height: 30px;
    font-size: 25px;
    cursor: pointer;
    user-select: none;
    top: 3px;
    color: #888;
}

.decr:active {
    color: #0a2dca;
}

.incr:active {
    color: #680500;
}

.decr {
    float: left;
    top: 0px;
}

.incr {
    display: inline-block;
}

input[type="radio"] {
    display: none;
}

.radio-toolbar {
    margin: 0 4px;
    justify-content: center;
    align-items: center;
    input[type="radio"] + label {
        text-align: center;
        display: block;
        background-color: $bg_button_off;
        padding: 6px;
        margin: 5px;
        color: #fff;
        border-radius: 5px;
        cursor: pointer;
    }
    input[type="radio"]:checked + label {
        background-color: $bg_button_on;
    }
    .set_reset {
        width: 50px;
    }
}

.button {
    background-color: $bg_button_on;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    img {
        margin-top: 6px;
    }
}

.menu {
    display: flex;
    min-width: 500px;
    label {
        padding: 6px 16px;
        margin: 5px;
    }
    input[type="radio"] + label {
        background-color: $bg_button_off;
    }
    input[type="radio"]:checked + label {
        background-color: $bg_button_on;
    }
}

.c_cont input[type="submit"] {
    background-color: $bg_button_submit;
    margin: 5px 0 15px 0;
    padding: 15px 20px;
}

/*iOS style checkbox*/
$checkbox_on_text: #1abc9c;
$checkbox_off_text: #777;
$chb_bg_color: #ddd;

.t-cont {
    width: 60px;
    text-align: center;
    padding: 0;
    margin: 8px 0 8px 0;
    input[type="checkbox"] {
        display: none;
    }
}

.chb-label {
    display: block;
    position: relative;
    line-height: 16px;
    width: 100%;
    height: 36px;
    border-radius: 18px;
    background: #eee;
    box-shadow: inset 0 0 0 0 $checkbox_on_text, 0 0 0 2px $chb_bg_color;
    cursor: pointer;
    &:before,
    &:after {
        -webkit-transition: 0.1s ease-in-out;
        -moz-transition: 0.1s ease-in-out;
        -o-transition: 0.1s ease-in-out;
        transition: 0.1s ease-in-out;
        display: block;
        position: absolute;
        text-align: right;
    }
    &:before {
        content: " ";
        z-index: 1;
        line-height: 34px;
        text-indent: 40px;
        left: 0;
        height: 36px;
        width: 36px;
        border-radius: 100%;
        top: 0;
        right: auto;
        background: #fff;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2), 0 0 0 2px $chb_bg_color;
    }
    &:after {
        -webkit-transition: 0.1s ease-in-out;
        -moz-transition: 0.1s ease-in-out;
        -o-transition: 0.1s ease-in-out;
        transition: 0.1s ease-in-out;
        content: attr(data-off);
        z-index: 0;
        left: -140px;
        padding: 10px;
        height: 20px;
        width: 120px;
        color: $checkbox_off_text;
        white-space: nowrap;
    }
}

.ios-toggle:checked + .chb-label {
    box-shadow: inset 0 0 0 18px $checkbox_on_text, 0 0 0 2px $checkbox_on_text;
    &:before {
        left: calc(100% - 36px);
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
        text-align: right;
    }
    &:after {
        content: attr(data-on);
        text-align: left;
        left: 60px;
        width: 100%;
        color: $checkbox_on_text;
    }
}
.disabled,
input:disabled,
input[disabled] {
    color: #888;
    background-color: #444;
    pointer-events: none;
    label:before {
        background: #eee;
    }
}

/* text inputs */

input,
select {
    &:focus {
        border-color: #66afe9;
        outline: 0;
        // -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
    }
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px 12px;
    font-size: 1em;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    appearance: none;
}

.selSched {
    font-size: 1em;
    width: auto;
    text-align: right;
    padding: 2px 0;
    margin: 2px;
}

.incr_panel {
    width: 36px;
    height: 26px;
    font-weight: 600;
    line-height: 2px;
    box-sizing: border-box;
}

input {
    &[type="number"] {
        font-size: 1.1em;
        width: 30px;
        text-align: center;
    }
    &[type="time"] {
        width: auto;
        font-size: 1.1em;
    }
    &[type="text"],
    &[type="url"],
    &[type="password"] {
        width: 80%;
        text-align: left;
    }
    &:invalid {
        border: 2px #f00 dotted;
        border-radius: 4px;
    }
    &[name^="t_chat_id"] {
        width: 80%;
    }
    &[name^="mqtt_port"] {
        width: 50px;
    }
    &[readonly] {
        background-color: #eee;
    }
}

//текстовое поле с выпадающим списоком с подсказками
$sel_text_width: 120px;

.select-editable {
    select {
        position: relative;
        left: $sel_text_width + 30px;
        top: 8px;
        width: 10px;
        border: none;
        direction: rtl;
        box-shadow: none;
    }

    position: relative;
    width: 20px;
    height: 18px;
    align-items: center;
    justify-content: center;
    input {
        font-size: 1em;
        position: absolute;
        top: 0;
        left: 0;
        width: $sel_text_width;
    }
    select:focus,
    input:focus {
        outline: none;
    }
}

/* time line table */

#daily-hr-table {
    float: left;
    margin: -3px 0 0 -2px;
    border: none;
    min-width: 320px;
    height: 10px;
}

#daily-table {
    background-color: #eee;
    float: left;
    margin: 2px 0 0 -3px;
    border: 1px solid #bbb;
    min-width: 320px;
    height: 18px;
}

.day-time-sector {
    background-color: #fff;
    margin: -1px;
    font-size: 9px;
    padding: 0;
    display: block;
    width: 14px;
    height: 18px;
    border: 1px solid #bbb;
    cursor: pointer;
    &:hover {
        background-color: #bce;
    }
}

.hr_cell {
    font-size: 9px;
    display: block;
    color: #000;
    position: relative;
    top: 4px;
    width: 14px;
}

.day-timehr-sector {
    color: #444;
    font-size: 9px;
    margin: -1px;
    padding: 0;
    display: block;
    width: 30px;
    height: 10px;
    border: none;
}

.c35 {
    background-color: #fff978;
}

.c40 {
    background-color: #fdd38d;
}

.c45 {
    background-color: #fbaea3;
}

.c50 {
    background-color: #f776c3;
}

.c55 {
    background-color: #f33de3;
}

.c60 {
    background-color: #bb1f5b;
    span {
        color: #fff;
    }
}

.c65 {
    background-color: #99112d;
    span {
        color: #fff;
    }
}

.c70 {
    background-color: #680500;
    span {
        color: #fff;
    }
}

/*animation*/
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
